<div id="comme">
  <div id='comment-<%= comment.id %>' >
    <div class="row d-flex justify-content-center">
      <div class="col-md-8 col-lg-6">
        <div class="card shadow-0 border" style="background-color: #f0f2f5;">
          <div class="card-body p-4">
            <div class="card mb-4">
              <div class="card-body">
              
                <p><%= comment.body %></p>

                <div class="d-flex justify-content-between">
                  
                    <div class="d-flex flex-row align-items-center">
                      <img src="" alt="" width="25"
                        height="25" />
                      <% if comment.user != nil %>
                      <p class="small mb-0 ms-2"><%= comment.user.name %></p>
                      <% end %>
                        <% if comment.score != nil %>
                          <small>
                            <p class="small mb-0 ms-2"><div id="rateyo-<%= comment.id %>"></div></p>
                          </small>
                          <% else %>
                            <small>
                              <p class="small mb-0 ms-2" >rating not given</p>
                            </small>
                        <% end %>
                    </div>
                  <% if (current_user == @article.user || current_user.id == comment.user_id)   %>
                    <div class="d-flex flex-row align-items-center">
                    <p class="small text-muted mb-0" >
                    <%= link_to 'Destroy Comment',[comment.article, comment],
                      method: :delete,data: { confirm: 'Are you sure?' }, remote: true,class: 'commentDelete' %>
                    </p>
                    <i class="far fa-thumbs-up mx-2 fa-xs text-black" style="margin-top: -0.16rem;"></i>
                    </div>
                  <% end %>
                  </div>
                </div>
              
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<script>
<% if comment.score != nil %>

  $(function () {
    $("#rateyo-<%= comment.id %>").rateYo({
      rating: <%= comment.score %>,
      readOnly: true
    });

  });
<% end %>
</script>