<% current_user.articles.each do |article| %>
  <div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
      <div class="col-md-4">
        <% if article.image.attached? %>
          <%= image_tag article.image,class:"img-fluid w-100", alt: "Image Title"  %>
        <% end %>
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <div class='card-title'><%= article.title %></div>
          <div class='card-text'><%= raw article.text %></div>
          <div class='card-text'><small class="text-muted"><%= article.status %></small></div>
          <%= link_to 'Show', article_path(article),class:"btn btn-primary" %>
          <%= link_to 'Edit', edit_article_path(article),class:"btn btn-primary" %>
          <%= link_to 'Destroy', article_path(article),
                  method: :delete,
                  data: { confirm: 'Are you sure?' },class:"btn btn-danger" %>
        </div>
      </div>
    </div>
  </div>
<% end %>