<div class="container px-5 py-5" style="">
  <div class="px-5">
    <h2>Forgot your password?</h2>

    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field mb-3">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email",class:"form-control" %>
      </div>

      <div class="actions">
        <%= f.submit "Send me reset password instructions",class:"btn btn-primary btn-block mb-4" %>
      </div>
    <% end %>

    <div class='pb-2'>
      <span class="ps-1 pe-2" ><%= link_to "Sign up", new_registration_path(resource_name), class:'link-dark' %></span>
      <span class="ps-2" ><%= link_to "Log in", new_session_path(resource_name), class:'link-dark' %></span>
    </div>

  </div>
</div>
